{% extends 'base.html' %}
{% block content %}
<h1 class="h4 mb-3">Periode Baru</h1>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between">
                <a href="{% url 'period_list' %}" class="btn btn-light">Kembali</a>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
